<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Знакомство с возможностями карьерного роста</title>
		<!-- <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic|Playfair+Display:400,700&subset=latin,cyrillic">
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css"> -->
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
	</head>
	<body>
		<header>
			<nav class="container">
				<a class="logo" href="https://www.rosatom.ru" target="_blank">
					<span><b>Р</b></span>
					<span><b>О</b></span>
					<span><b>С</b></span>
					<span>А</span>
					<span>Т</span>
					<span>О</span>
					<span>М</span>
				</a>
				<div class="nav-toggle"><span></span></div>
				<ul id="menu">
					<li><a href="/">Карьерный рост</a></li>
					<li><a href="game">Мини-игра</a></li>
				</ul>
			</nav>
		</header>

		<div class="container">
			<h1><a class="header-link" href="https://www.rosatom.ru/career" target="_blank">Карьерный рост</a></h1>
			<div class="section-content">
				<p>Госкорпорация «Росатом» является обладателем престижных российских наград как лучший работодатель. В&nbsp;частности, Росатом признавался лучшим работодателем страны по итогам 2018 и 2020 годов (по версии группы компаний HeadHunter). Госкорпорация была отмечена призами Саммита HR-директоров России и СНГ (2013, 2015), Всероссийского HR-форума-конкурса «Неденежная мотивация персонала-2014», II&nbsp;Всероссийского конкурса лучших практик работодателей по развитию человеческого капитала «Создавая&nbsp;будущее»&nbsp;(2015&nbsp;г.).</p>
			</div>
		</div>

		<div class="container">
			<div class="sections-list">
				<article id="section-1" class="section">
					<h2 class="section-title"><a class="header-link" href="https://www.rosatom.ru/career/soiskatelyam" target="_blank">Cоискателям</a></h2>
					<div class="section-image">
						<img src="{% static 'mainApp/images/soiskatelyam.jpg' %}">
					</div>
					<div class="section-content">
						<p>Росатом объединяет свыше 350 предприятий и организаций различного профиля в различных регионах России. Основными критериями отбора кандидатов являются:<br>
						•	соответствие требованиям должности;<br>
						•	обладание необходимыми профессиональными компетенциями;<br>
						•	соответствие ценностям Госкорпорации «Росатом».</p>

						<div class="category">
							<a href="https://rosatom.ru/career/soiskatelyam" target="_blank">Вакансии</a>
						</div>
						<!-- <div class="section-footer">
							<a class="more-link" href="">Продолжить чтение</a>
							<div class="section-social">
								<a href="" target="_blank"><i class="fa fa-facebook"></i></a>
								<a href="" target="_blank"><i class="fa fa-twitter"></i></a>
								<a href="" target="_blank"><i class="fa fa-pinterest"></i></a>
							</div>
						</div> -->
					</div>
				</article>

				<article id="section-2" class="section">
					<h2 class="section-title"><a class="header-link" href="https://www.rosatom.ru/career/obrazovanie" target="_blank">Cтудентам и выпускникам</a></h2>
					<div class="section-image">
						<img src="{% static 'mainApp/images/obrazovanie.jpg' %}">
					</div>
					<div class="section-content">
						<p>Росатом ведёт систематическую работу с профильными вузами. Для студентов и выпускников действуют программы, которые позволяют в ходе обучения получить практический опыт взаимодействия с предприятиями отрасли, сформировать четкое, объективное видение будущей специальности.</p>
						<p>Переходи на отраслевой карьерный портал Росатома для студентов и выпускников. Здесь описаны возможности прохождения практик и стажировок, а также возможность присоединиться к команде Росатома.</p>

						<div class="category">
							<a href="https://rosatom-career.ru/center/main" target="_blank">Отраслевой карьерный портал росатома</a>
						</div>
					</div>
				</article>

				<article id="section-3" class="section">
					<h2 class="section-title"><a class="header-link" href="https://www.rosatom.ru/career/sotrudnikam" target="_blank">Сотрудникам</a></h2>
					<div class="section-image">
						<img src="{% static 'mainApp/images/sotrudnikam.jpg' %}">
					</div>
					<div class="section-content">
						<p>Своим сотрудникам «Росатом» предлагает инструменты построения успешной карьеры, систему обучения и развития, корпоративные программы медицинского страхования.</p>

						<ul>
							<li>
								<div class="category">
									<a href="https://www.rosatom.ru/career/sotrudnikam/kadrovaya-politika" target="_blank">Кадровая политика</a>
								</div>
							</li>
							<li>
								<div class="category">
									<a href="https://www.rosatom.ru/career/sotrudnikam/sistema-obucheniya-i-razvitiya-rabotnikov-atomnoy-otrasli" target="_blank">Система обучения и развития работников атомной отрасли</a>
								</div>
							</li>
							<li>
								<div class="category">
									<a href="https://www.rosatom.ru/career/sotrudnikam/programmy-priznaniya" target="_blank">Программы признания</a>
								</div>
							</li>
							<li>
								<div class="category">
									<a href="https://www.rosatom.ru/career/sotrudnikam/atomskills" target="_blank">AtomSkills</a>
								</div>
							</li>
						</ul>
					</div>
				</article>
			</div>

			<!-- <aside>
				<div class="widget">
					<h3 class="widget-title">Категории</h3>
					<ul class="widget-category-list">
						<li><a href="">Дизайн</a> (2)</li>
						<li><a href="">Вёрстка</a> (5)</li>
						<li><a href="">Видео</a> (1)</li>
					</ul>
				</div>
				<div class="widget">
					<h3 class="widget-title">Последние записи</h3>
					<ul class="widget-sections-list">
						<li>
							<div class="section-image-small">
								<a href=""><img src="https://html5book.ru/wp-content/uploads/2016/05/rasskaz_slovar_rodnoy_prirodi.jpg"></a>
							</div>
							<h4 class="widget-section-title">Весна</h4>
						</li>
						<li>
							<div class="section-image-small">
								<a href=""><img src="https://html5book.ru/wp-content/uploads/2016/05/rasskaz_Russia.jpg"></a>
							</div>
							<h4 class="widget-section-title">Лето</h4>
						</li>
						<li>
							<div class="section-image-small">
								<a href=""><img src="https://html5book.ru/wp-content/uploads/2016/05/rasskaz_rodnaya_priroda_osen.jpg"></a>
							</div>
							<h4 class="widget-section-title">Осень</h4>
						</li>
					</ul>
				</div>
				<div class="widget">
					<h3 class="widget-title">Подписка на рассылку</h3>
					<form action="" method="section" id="subscribe">
						<input type="email" name="email" placeholder="Ваш email" required>
						<button type="submit"><i class="fa fa-paper-plane-o"></i></button>
					</form>
				</div>
			</aside> -->
		</div>

		<footer>
			<div class="container">
				<div class="footer-col"><span>Unreal © 2021<br>(для CASE-IN и Росатом)</span></div>
				<div class="footer-col">
					<!-- <div class="social-bar-wrap">
						<a title="Facebook" href="" target="_blank"><i class="fa fa-facebook"></i></a>
						<a title="Twitter" href="" target="_blank"><i class="fa fa-twitter"></i></a>
						<a title="Pinterest" href="" target="_blank"><i class="fa fa-pinterest"></i></a>
						<a title="Instagram" href="" target="_blank"><i class="fa fa-instagram"></i></a>
					</div> -->
				</div>
				<div class="footer-col">
					<!-- <a href="mailto:admin@yoursite.ru">Написать письмо</a> -->
				</div>
			</div>
		</footer>

		<script>
			$('.nav-toggle').on('click', function()
			{
				$('#menu').toggleClass('active');
			});
		</script>
	</body>
</html>